* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.food-list {
  margin: 10px;
  max-height: 300px;
  overflow-y: auto;
}

#food-image {
  flex: 1;
  max-width: 100%;
  font-size: 10rem;
}

.button {
  display: inline-block;
  width: 100px;
}

#yes {
  background-color: green;
  color: white;
}

#no {
  background-color: red;
  color: white;
}